:root {
  --color-primary: #805AD5;
  --color-primary-light: #E9D8FD;
  --color-grey: rgba(0, 0, 0, 0.48);
  --color-text: rgb(45, 55, 72);

  --font-family: 'Roboto', 'sans-serif';

  --font-size-xsmall: 12px;
  --font-size-small: 16px;
  --font-size-medium: 26px ;
  --font-size-large: 36px;
}