@import '~@ionic/core/css/typography.css';

h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 38rem;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  margin-top: 28px;
  font-size: 26px;
}

h2 {
  margin-top: 26px;
  font-size: 24px;
}

p,
blockquote {
  font-size: 1rem;
  max-width: 38rem;
  margin: auto;
  margin-block-start: 1em;
  margin-block-end: 1em;
  line-height: 1.5;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid var(--ion-color-step-400);
  box-sizing: border-box;
  color: var(--ion-color-step-700)
}

@media screen and (min-width: 576px) {
  p {
    line-height: 1.8;
  }
}

p.lead {
  font-size: 1.2rem;
}

code {
  background-color: var(--gv-color-background-code);
  border-left: 4px solid var(--gv-color-background-code);
  border-right: 4px solid var(--gv-color-background-code);
  border-radius: 3px;
}
