geov-map-places {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

geov-map-places ion-toast {
  --background: var(--ion-color-danger, red);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ion-color-light-tint, #fafafa);
}
