:host,
geov-yasgui-map-circles {
  container-type: size;
  display: block;
  width: 100%;
  height: 100%;
}

.geov-map-circles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.geov-map-circles-container .maplibregl-popup-content {
  overflow-y: auto;
  max-height: 210px;
  padding: 0;
}


geov-yasgui-map-circles ion-list {
  overflow-y: auto;
}

.legend {
  position: absolute;
  z-index: 1;
  max-width: 300px;
  margin: 0;
  top: 10px;
  left: 10px;
  max-height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
}


.legend .collapse-button {
  position: absolute;
  margin: 0;
  top: 4px;
  left: 0;
  z-index: 9999;
}

.legend.collapsed {
  width: 46px;
  height: 36px;

}


@container (width >=700px) {
  .legend {
    max-width: 300px;
  }
}

#display-query {
  position: absolute;
  z-index: 1;
  right: 0;
}

.yasgui .hidden {
  display: none !important;
}
