:host {
  display: block;
  width: 100%;
}

geov-display-string-literal {
  --border-top: none;
  --padding-start: 0;
  --min-height: 0;
  --inner-padding-end: 0;
}

geov-time-span {
  display: inline;
  padding-left: 1rem;
  color: var(--ion-color-step-600);
}

ion-item {
  --padding-start: 0;
}

.containerForQuery {
  container-type: inline-size;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.header {
  padding: 1rem 16px 0.5rem 0;
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 0;
  border-bottom: dashed 1px var(--border-color);
  border-right: dashed 1px var(--ion-color-tertiary);
}

.content ion-col {
  flex-basis: 300px;
}

.content {
  padding: 0.5rem 0 0.5rem 16px;
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 0;
}

.header .classLabelContainer {
  color: var(--gv-class-link-color, #000);
}

.header a.classLabel {
  color: var(--gv-class-link-color, #000);
  text-decoration: var(--gv-class-link-decoration);
}

.header a.classLabel:hover {
  text-decoration: underline;
}

.nestedProp .propLabelWrapper a.propLabel {
  color: var(--gv-property-link-color, #000);
  text-decoration: var(--gv-property-link-decoration);
}

.nestedProp .propLabelWrapper a.propLabel:hover {
  text-decoration: underline;
}

ion-col {
  padding: 0;
  margin: 0;
}

a.entityLink {
  color: var(--gv-entity-link-color, #000);
  text-decoration: var(--gv-entity-link-decoration);
}

a.entityLink:hover {
  text-decoration: underline;
}

.timespanLabel geov-time-span {
  padding: 0;
}

@container (width > 532px) {
  .container {
    flex-wrap: nowrap;
  }
  .header {
    flex-grow: 0;
    border-right: dashed 1px var(--border-color);
    border-bottom: none;
  }
  .content ion-col {
    flex-basis: 0px;
  }
}
