.build/
.storybook/
dist/
dist-transpiled/
temp/
generated/
stencil-generated/
public/
storybook/
storybook-static/
rollup.config.js
ngcc.config.js
web-server.js
*.md
*.scss

packages/design-system-web/src/components.d.ts
packages/icons/src/icons.ts

packages/design-system-web/loader/
packages/design-system-web/www/
packages/design-system-web/.storybook/vue/components.ts
packages/design-system-web/src/assets/fonts
packages/design-system-web/src/components/**/readme.md
packages/design-system-web/src/stories/assets/components.json
packages/design-system-web/src/stories/assets/components.d.ts
packages/design-system-web/src/components-all.d.ts
packages/design-system-web/src/stories/utils

packages/design-system-react/src/components
