:host {
  display: block;
}

.containerResponsive {
  container-type: inline-size;
}

div.masonry-container {
  column-count: 1;
}

div.masonry-item {
  width: 100%;
  box-sizing: border-box;
  padding-top: 0.1px;
}

@container (width >= 768px) and (width < 992px) {
  div.masonry-container {
    column-count: 2;
  }
}

@container (width >= 992px) {
  div.masonry-container {
    column-count: 3;
  }
}
