:root {
  --color-primary-light: #E9D8FD;
}

.card {
  width: 300px;
  height: 300px;

  border-width: 1px;
  border-color: var(--color-primary-light);
  border-style: solid;
  border-radius: 5px;

  margin: 10px;
  padding: 10px;
}