:host {
  display: block;
}

.wrapper {
  display: flex;
}

.literal-container {
  overflow: clip;
  width: 100%;
}

.literal-container ion-button {
  display: none;
  margin-left: auto;
}

.label-container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.color-light {
  color: var(--ion-color-step-600, black);
}

.label {
  width: 100%;
}

.open-modal-btn {
  min-height: 0;
  padding: 0;
  margin: 0 0 0 0.25rem;
  --padding-inline-start: 0;
  --padding-inline-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}

/* ion-item {
  border-top: var(--border-top, solid 1px #eee);
  --padding-start: var(--padding-start);
  --inner-padding-top: 0;
  --min-height: var(--min-height);
} */