:host {
  display: block;
}

.container {
  background: var(--ion-color-tertiary);
  color: var(--ion-color-tertiary-contrast);
}

.header {
  padding: var(--ion-padding);
}

.header h1 {
  margin-top: 0;
}

.header geov-entity-class-label,
.header geov-entity-definition {
  overflow: hidden;
  text-overflow: ellipsis;
}

.section {
  display: block;
  color: var(--ion-color-tertiary-contrast);
  padding: 24px 0;
}

.section:nth-child(even) {
  background: var(--ion-color-tertiary-shade);
}

.section:nth-child(odd) {
  background: var(--ion-color-tertiary);
}

.columns-1 {
  --column-count: 1;
  --column-gap: 0px;
}

.columns-2 {
  --column-count: 1;
  --column-gap: 0px;
}

.columns-3 {
  --column-count: 1;
  --column-gap: 0px;
}

/* lg and up */
@media screen and (min-width: 992px) {

  .columns-3,
  .columns-2 {
    --column-count: 2;
  }
}

/* xl and up */
@media screen and (min-width: 1200px) {
  .columns-3 {
    --column-count: 3;
  }
}

p.supertitle geov-entity-class-label {
  font-size: 1.7rem;
}