:root {
  --color-primary: #805AD5;
  --color-primary-light: #E9D8FD;
  --color-grey: rgba(0, 0, 0, 0.48);
  --color-text: rgb(45, 55, 72);

  --font-family: 'Roboto', 'sans-serif';

  --font-size-xsmall: 12px;
  --font-size-small: 16px;
  --font-size-medium: 26px ;
  --font-size-large: 36px;
}

.subtitle {
  font-family: var(--font-family);
  font-size: var(--font-size-medium);
  color: var(--color-text);
}

.description {
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  font-weight: 600;
  color: var(--color-grey);
}

.text {
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  color: var(--color-text);
}

.caption {
  font-family: var(--font-family);
  font-size: var(--font-size-xsmall);
  color: var(--color-text);
  font-style: italic;
}