:root {
  --color-primary: #805AD5;
  --color-text-light: white;
  --color-grey: rgba(0, 0, 0, 0.48);
  --font-family: 'Roboto', 'sans-serif';
}

.link {
  font-family: var(--font-family);
  color: var(--color-primary);
}

.light {
  color: var(--color-text-light);
}

.grey {
  color: var(--color-grey);
}