@import '../../../node_modules/@ionic/core/css/core.css';

:host {
  display: block;
}

ion-card {
  box-shadow: none !important;
  margin: 0 16px !important;
}

geov-paginator {
  margin-left: auto;
}

.literal-container {
  overflow: clip;
  width: 100%;
}

.literal-expanded .sc-ion-label-ios-h,
.literal-expanded .sc-ion-label-ios-s {
  white-space: normal;
}

.text-right ion-button {
  margin-left: auto;
}

.literal-container .item-button {
  display: none;
}
