@import '../../../node_modules/@ionic/core/css/core.css';

:host {
  display: block;
}

ion-card {
  box-shadow: none !important;
  margin: 0 16px !important;
}

geov-paginator {
  margin-left: auto;
}

.literal-container {
  overflow: clip;
  width: 100%;
}

.literal-container ion-button {
  display: none;
  margin-left: auto;
}
