:host {
  display: block;
}

canvas {
  width: 100%;
}

.containerCanvas {
  /* https://www.chartjs.org/docs/latest/configuration/responsive.html#responsive-charts */
  position: relative;
  width: 100%;
}

.containerCanvasAxis {
  position: relative;
}

.scroll-container {
  width: 100%;
  overflow-y: auto;
  position: relative;
  margin-bottom: 50px;
  background-color: var(--gantt-timeline-background-color, #fff);
}

.x-axis {
  width: 100%;
  height: 50px;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  background-color: var(--gantt-timeline-background-color, #fff);
  /* a background-color is needed to cover the bar-chart */
}

.gantt-buttons {
  position: absolute;
  right: 40px;
  padding-top: 8px;
  padding-right: 8px;
  z-index: 1000;
}

.bar-chart {
  /* Hide x-axis */
  margin-bottom: -29px;
}
